:root {
    --text-color: #2cadb1;
    --secondary-color: whitesmoke;
    --light-color: #2cadb1a5;
    --backgound: #2cadb111;
    --text-size: 16px;
    --border-radius: 15px;
}

body {
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: var(--text-size);
    background-color: var(--secondary-color);
}

/* all btn style */

.btn {
    border: 1px solid var(--text-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 30px;
    font-size: var(--text-size);
    font-weight: 600;
    border-radius: var(--border-radius);
    text-transform: uppercase;
}

.btn-simply {
    border: none;
    background-color: var(--text-color);
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: var(--border-radius);
    font-size: var(--text-size);
    text-transform: uppercase;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

#nav-item {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
    font-size: var(--text-size);
}

/* banner */


/* competitive care */

.care-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.care-section>div {
    border-radius: var(--border-radius);
}

.numbering {
    font-size: 30px;
}


/* mission */

#mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.mission-paragraph {
    padding-right: 60px;
    text-align: justify;
}

.mission-absolute-box {
    background-color: var(--light-color);
    width: 50%;
    position: absolute;
    bottom: -40px;
    left: -40px;
    padding: 20px;
    border-radius: var(--border-radius);
    color: #fff;
}

.mission-absolute-box-header {
    font-size: 24px;
    margin: 8px 0;
}

/* services */

#services {
    background-color: #FFFFF5;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.service-img {
    border-radius: var(--border-radius);
}

.services-absolute-box {
    position: absolute;
    background-color: var(--light-color);
    padding: 20px;
    color: #fff;
    bottom: 30px;
    width: 60%;
    border-radius: var(--border-radius);
    left: 30px;
}

.services-absolute-box-header {
    font-size: 24px;
    margin: 8px 0;
}

.services-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-description>p {
    margin: 0;
    padding-right: 20px;
}

.services-description-btn {
    font-size: 20px;
    background-color: #fff;
    font-weight: bolder;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 100%;
}


/* testimonial */

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonial {
    background-color: var(--backgound);
    padding: 15px;
    border-radius: var(--border-radius);
}

.testimonial-header {
    margin: 10px 0;
}

.testimonial-description {
    margin: 10px 0;
}

/* FAQ */

.accordion {
    width: 80%;
    /* margin: 0 auto */
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion-header {
    background-color: #f1f1f1;
    padding: 15px;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    outline: none;
    font-size: 18px;
}

.accordion-header:hover {
    background-color: #ddd;
}

.accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.accordion-content p {
    margin: 0;
}


/* offer */

.offer-img {
    filter: brightness(40%);
}

.offer-header {
    color: #fff;
    font-size: 30px;
}

.offer-description {
    position: absolute;
    top: 25%;
    left: 5%;
}

.offer-btn {
    display: flex;
    gap: 20px;
}

.offer-logo {
    position: absolute;
    right: 2%;
    top: 5%;
}